/* A collection of useful jQTouch style addons */
/* Author: Matt Carter <m@ttcarter.com> */
/* Source: https://github.com/hash-bang/jqtouch-addon-styles */

/* Icons class - arranges icons on the screen {{{ */
/* e.g. <ul class="scroll"><ul class="icons"><li style="background-image: url('/img/icons/news.png')"><a href="#news">News</a></li></ul> */
.icons {
	list-style: none;
	background-color: transparent !important;
	border: none !important;
	margin: 10px auto !important;
	display: table;
}

.icons > li {
	display: inline-block;
	height: 64px;
	width: 64px;
	background-repeat: no-repeat;
	background-position: center 10px;
	background-size: 48px;
	text-align: center;
	border-top: none !important;
	margin: 10px;
	overflow: visible !important;
}

.icons > li > a {
	display: block;
	font-size: 10pt;
	padding-top: 68px !important;
	border-radius: 10px;
}

.icons > li > a.active {
	background-image: inherit !important;
	background-repeat: inherit !important;
	background-position: inherit !important;
	background-size: inherit !important;
}
/* }}} */
/* Articles class - Displays sidebar images and small text under regular rounded selectors {{{ */
/* e.g. <ul class="scroll"><ul class="rounded articles"><li><a href="#article-1"><img src="/img/1.jpg">Hello World<small>Sub text</small></a></li></ul> */
.articles {
}

.articles > li {
	height: 64px;
}

.articles > li > a > img {
	float: right;
	height: 64px;
	width: 64px;
	border-radius: 5px;
}

.articles > li > a > small {
	display: block !important;
	float: none !important;
	font-size: 10pt !important;
	width: 100% !important;
	text-align: left !important;
	padding: 0 !important;
	overflow: visible !important;
	color: #A0A0A0 !important;
}
/* }}} */
/* Post style - Simple text blobs with a right-floating image {{{ */
/* e.g. <ul class="rounded"><h1>Hello World</h1><img src="/img/1.jpg"/><p>Lots of text</p><p>Lots of text</p></ul> */
.post {
}

.post p {
	color: black;
	font-size: 12pt;
	padding: 20px;
}

.post img {
	float: right;
	width: 150px;
	height: 150px;
	border-radius: 5px;
	margin: 0 20px 10px 10px;
}
/* }}} */
/* Picturenav - Swipe-based picture navigation. NOTE: Requires js/picturenav.js {{{ */
/* e.g. <ul class="picturenav"><li><img src="/img/1.jpg"/></li><li><img src="/img/2.jpg"/></li><li><img src="/img/3.jpg"/></li><li><img src="/img/4.jpg"/></li></ul> */
.picturenav {
	height: 500px;
	border: none !important;
	background-color: black !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	margin: 0 !important;
}

.picturenav li {
	display: none;
}
/* }}} */
