/* A collection of useful jQTouch style addons */
/* Author: Matt Carter <m@ttcarter.com> */
/* Source: https://github.com/hash-bang/jqtouch-kitchen-sink */

/* CSS options - you may wish to tweak these {{{ */
.navbar, .global-navbar { /* For both types of navbar... */
	height: 64px; /* The actual height of the navbar */
}
.navbar-padding {
	padding-bottom: 64px; /* How much to pad the page by to compensate for the navbar */
}
.navbar > ul > li, .global-navbar > ul > li {
	background-size: 32px 32px; /* Resize the navbar icons to this */
}

.navbar > ul > li, .global-navbar > ul > li {
	background-position: center 5px; /* The position of the icon */
	width: 64px; /* The approximate width of the navbar icons */
}
/* }}} */
/* Utility CSS style classes {{{ */
/* Center images - e.g. <img class="center" src="foo.png"/> */
.center {
	margin: 0 auto;
	display: block;
	padding: 10px;
}
/* Paste raw code - e.g. <div class="code">print "Hello World";</div> OR <pre>print "Hello World";</pre> */
pre, .code {
	font-size: 12px;
	color: #A0A0A0;
	white-space: pre;
	padding: 10px;
}
/* }}} */
/* Addons to JQTouch styles {{{ */
/* .ticked - Used to show which elements are active in a popout */
.rounded li > a.ticked {
	color: blue !important;
}

.rounded li > a.ticked.active {
	color: white !important;
}
/* }}} */
/* Icons class - arranges icons on the screen {{{ */
/* e.g. <ul class="scroll"><ul class="icons"><li style="background-image: url('/img/icons/news.png')"><a href="#news">News</a></li></ul> */

.icons {
	background-color: transparent !important;
	list-style: none;
	border: none !important;
	margin: 10px auto !important;
	display: table;
}

.icons.rounded {
	background: white !important;
}

.icons > li {
	display: inline-block;
	height: 64px;
	width: 64px;
	background-repeat: no-repeat;
	background-position: center 10px;
	background-size: 48px;
	text-align: center;
	border-top: none !important;
	margin: 10px;
	overflow: visible !important;
}

.icons > li > a {
	display: block;
	font-size: 10pt;
	padding-top: 68px !important;
	border-radius: 10px;
}

.icons > li > a.active {
	background-image: inherit !important;
	background-repeat: inherit !important;
	background-position: inherit !important;
	background-size: inherit !important;
}
/* }}} */
/* Articles class - Displays sidebar images and small text under regular rounded selectors {{{ */
/* e.g. <ul class="scroll"><ul class="rounded articles"><li><a href="#article-1"><img src="/img/1.jpg">Hello World<small>Sub text</small></a></li></ul> */
.articles {
}

.articles > li {
	height: 64px;
}

.articles > li > a > img {
	float: right;
	height: 64px;
	width: 64px;
	border-radius: 5px;
}

.articles > li > a > small {
	display: block !important;
	float: none !important;
	font-size: 10pt !important;
	width: 100% !important;
	text-align: left !important;
	padding: 0 !important;
	overflow: visible !important;
	color: #A0A0A0 !important;
}
/* }}} */
/* Post style - Simple text blobs with a right-floating image {{{ */
/* e.g. <ul class="rounded"><h1>Hello World</h1><img src="/img/1.jpg"/><p>Lots of text</p><p>Lots of text</p></ul> */
.post {
}

.post p {
	color: black;
	font-size: 12pt;
	padding: 10px 20px;
}

.post dt {
	padding: 2px 20px;
}

.post dt strong {
	color: black;
}

.post img {
	float: right;
	width: 150px;
	height: 150px;
	border-radius: 5px;
	margin: 0 20px 10px 10px;
}
/* }}} */
/* Title style - Simple titles to list element {{{ */
/* e.g. <ul class="rounded"><li data-title="Title Beside">Text</li><li data-above-title="Title Above">Text</li></ul> */
li.title {

}

li .title-title {
	display: inline-block;
	color: black;
	width: 40%;
}

li .above-title-title {
	display: block;
	color: black;
}

li .title-text, li .above-title-text {
	display: inline-block;
	font-weight: normal;
}
/* }}} */
/* Picturenav - Swipe-based picture navigation. NOTE: Requires js/picturenav.js {{{ */
/* e.g. <ul class="picturenav"><li><img src="/img/1.jpg"/></li><li><img src="/img/2.jpg"/></li><li><img src="/img/3.jpg"/></li><li><img src="/img/4.jpg"/></li></ul> */
.picturenav {
	height: 500px;
	border: none !important;
	background-color: black !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	margin: 0 !important;
}

.picturenav li {
	display: none;
}
/* }}} */
/* Navbar - Simple floating bottom bar that can be applied to each page {{{ */
/* NOTE: If you want to apply a navbar globaly check out global-navbar */
.navbar, .global-navbar {
	font: 12px "Helvetica Neue", Helvetica;
	background: black;
	position: fixed;
	bottom: 0px;
	z-index: 1000;
	width: 100%;
}

.navbar > ul, .global-navbar > ul {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0 !important;
	list-style: none;
	background: white;
	color: gray;
	border: 1px solid #D9D9D9;
}

.navbar > ul > li, .global-navbar > ul > li {
	display: table-cell;
	height: 100%;
	background-repeat: no-repeat;
	font-weight: bold;
	color: white;
	vertical-align: middle;
	text-align: center;
	line-height: 80px;
}

.navbar > ul > li > a, .global-navbar > ul > li > a {
	padding-top: 10px !important;
	font-size: 8pt;
	text-decoration: none;
	display: block;
	color: #262626;
	text-shadow: white 0 1px 0;
}

.navbar a.hilight, .global-navbar a.hilight {
	border: 1px solid white;
	background-color: #404040 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/* }}} */
/* Global-Navbar - Floating bottom bar that is applied to every page {{{ */
/* NOTE: If you want to apply a navbar locally - just on one page - check out navbar */
/* Actually, since the global-navbar works the same as .navbar in all instances you should really see it for reference */
/* }}} */
